.header{
    background:#20222b;
    color:white;
    line-height: 6.4rem;
}

.header__title{ 
    color:white;
    font-size:$l-size;
    text-decoration:none;
    font-weight: bold;
}

.header__link{
    color:white;
    font-size:$l-size;
    text-decoration:none;
}

.solar-icon{
    transform:translateY(8%);
    height:25px;
    width:25px;
}