.form{
    margin-top:$l-size;
}

.form__title{
    text-align: center;
    margin-bottom:2%;
    font-size: $xl-size;
    line-height: normal;
    color:rgba(0, 0, 0, 0.87)
}

#input-label{
    color:rgba(0, 0, 0, 0.87)
}

.dataInfo{
    margin-top: $m-size;
}

.dataInfo > h3{
    margin-top: $m-size;
    display:inline;
    font-size: $m-size;
}

.dataInfo > p{
    margin-top: $m-size;
    display:inline;
    font-size: $m-size;
}

.info{
    font-family: Helvetica, Arial, sans-serif;
    font-size: $ml-size;
    line-height:$xl-size;
    color:rgba(0,0,0,0.87);
}

.error{
    color:red;
    margin-top: $xs-size;
}