html {
  font-size: 62.5%;
  background-color:rgb(250,250,250);
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $ml-size;
  line-height:$xl-size;
  color:rgba(0,0,0,0.87);
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  text-decoration: underline !important;
}

.icons i,
.icons svg {
   color: white;
}
